# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pyo
*.pyd
*.env
*.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Flask instance folder
instance/
*.db
*.sqlite3

# Flask static and media files
/static/
/media/

# IDEs
.vscode/
.idea/
*.swp

# Logs
*.log

# OS files
.DS_Store
Thumbs.db